@import 'var';

.row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.row-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 70px;
}
.col {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.contact {
    text-align: left;
}
