@import url('https://fonts.googleapis.com/css?family=Overpass:200,300,400,600');
$dark-grey: #393939;
$med-grey: #808080;
$light-grey: #E4E4E4;
$blue: #5F99E6;
$red: #DE3352;
$green: #7DD36B;
$yellow: #F1B136;
